<style type="text/css">

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #42413C;
	color: #000;
	
}

.card {
	display:none;
}

.right {
	display:none;
}

.navmenu {
	border:none;
}

ul.nav {
	display:none;
	
}

.footer {
	border:none;
}

@media print {
  
  }

</style>
